* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bs-body-font-family: "Roboto Condensed", sans-serif;
  --greyish-color: #ccc;
  --bordeaux-color: #a61e4d;
  --gold-color: #ffa94d;
}

html {
  color: #ccc;
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: #111;
  display: flex;
  flex-direction: column;
}

hr {
  margin: 12rem 1.8rem 9.8rem;
  border: 0;
  border-top: 0.5px solid;
  z-index: 0;
}

input,
textarea {
  border: none;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.6rem rgba(255, 169, 77, 0.6);
}

.h1-title {
  font-size: 3.6rem;
  color: var(--bordeaux-color);
}

.h2-title {
  font-size: 3.6rem;
  color: var(--gold-color);
  text-align: center;
  padding: 3.6rem 0;
}

.h3-title {
  font-size: 2.4rem;
  color: var(--gold-color);
  text-align: center;
  padding: 2.4rem 0;
}

.description {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
  color: var(--greyish-color);
  /* padding: 2.4rem 0; */
}

/******************************************************************************/
/* BELOW 480px  */
/******************************************************************************/
@media (max-width: 30em) {
  .h1-title {
    font-size: 2.8rem;
  }

  .h2-title {
    font-size: 2.8rem;
  }

  .h3-title {
    font-size: 1.8rem;
  }

  .description {
    font-size: 1.6rem;
  }
}
