.custom-btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.custom-btn button {
  font-size: 1.8rem;
  border: none;
  display: block;
  text-align: center;
  background-color: #063943;
  padding: 0.8rem 2.4rem;

  transition: all 0.3s;
  border-radius: 4px;
  text-transform: uppercase;
  color: #ccc;
}

.custom-btn button:hover {
  background-color: #0b7285;
}

/******************************************************************************/
/* BELOW 480px  */
/******************************************************************************/
@media (max-width: 30em) {
  .custom-btn button {
    font-size: 1.8rem;
  }
}
